<!DOCTYPE html>
<html lang="en">
<partial name="ThemeHtmlHead" />
<body>
    <partial name="ThemePageHeader" />
    <partial name="ThemeSidebar" />

    <main id="main" class="main">
        @RenderBody()
    </main>

    <partial name="ThemePageFooter" />
    <partial name="ThemeJs" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>