@using Microsoft.AspNetCore.Identity
@using RecipeBrowser.Core.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">Ласкаво просимо @User.Identity?.Name!</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">

            <li>
                <a class="dropdown-item d-flex align-items-center" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <i class="bi bi-person"></i>
                    <span>Мій профіль</span>
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Вийти</button>
                </form>
            </li>

        </ul>
    </li>



}
else
{
    <li class="nav-item pe-3">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item pe-3">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}