<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/">
                <i class="bi bi-grid"></i>
                <span>Головна</span>
            </a>
        </li>
        @if(!User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Recipe">
                    <i class="bi bi-grid"></i>
                    <span>Рецепти</span>
                </a>
            </li>
        }

        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Менеджмент сутностей</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/ProductType">
                            <i class="bi bi-circle"></i><span>Типи продуктів</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Product">
                            <i class="bi bi-circle"></i><span>Продукти</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Measure">
                            <i class="bi bi-circle"></i><span>Міри</span>
                        </a>
                    </li>
                    <li>
                        <a href="/CookingType">
                            <i class="bi bi-circle"></i><span>Способи приготування</span>
                        </a>
                    </li>
                    <li>
                        <a href="/CookingDifficulty">
                            <i class="bi bi-circle"></i><span>Складності страв</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Recipe">
                            <i class="bi bi-circle"></i><span>Рецепти</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Review">
                            <i class="bi bi-circle"></i><span>Відгуки</span>
                        </a>
                    </li>
                    <li>
                        <a href="/User">
                            <i class="bi bi-circle"></i><span>Користувачі</span>
                        </a>
                    </li>
                </ul>
            </li>
        }

    </ul>

</aside><!-- End Sidebar-->
