@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо до нашого сайту з рецептами</h1>
    <a href="/Recipe/UserView"><h2>Перейти до рецептів</h2></a>
</div>
