﻿@using RecipeBrowser.Core.Entities.Recipes
@model Recipe

<h1>Видалення рецепту: @Model.Title</h1>


<form asp-action="Delete">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <button class="btn btn-primary" type="submit">Видалити</button>
</form>